.goback {
    position: absolute;
    left : 1vw;
    top : 2vh;
    font-size: 20px;
    color: #f034b1;
}

.goback:hover {
    color : #d4249a;
}

@media (max-width: 680px) {
    .btn {
        position: absolute;
        left : 0;
    }

    svg {
        height: 0vh;
        width: 0vw;
        left : 1vw;
    }
}