h1 {
    font-size: 4vw;
    text-align: left;
    padding-left : 10vw;
    padding-top: 25vh;
    color : white;
}

h1 span {
    background: linear-gradient(to right, #CA6CA6, #AA32F7);
    color: transparent;
    background-clip: text;

}

h2 {
    color : white;
    font-size: 1.7vw;
    text-align: left;
    padding-left : 10vw;
}

h2 span {
    background: linear-gradient(to right, #CA6CA6, #AA32F7);
    color: transparent;
    background-clip: text;

}

.anim {
    position: absolute;
    left: 60vw;
    margin-top: -20vh;
    height: 45vh;
}

.button {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: absolute;
    background: linear-gradient(to right, #D17894, #C460B5, #9F29FB, #560DE5);
    left : 10vw;
    top: 50vh;
    border: none;
    color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #BD53C8;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #FD4470;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }
  

  
@media (max-width: 1100px) {
h1 {
    font-size: 10vw;
    padding-left : 0vw;

    text-align: center;
}

.par h1 {
    font-size: 15vw;
    padding-top: 10vh;
}

h2 {
    padding-left : 0vw;
    font-size: 4vw;
    text-align: center;
}

.button {
    width: 40vw;
    height: 60px;
    font-size: 12px;
    left: 50%;
  -ms-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);

}

.anim {
    position: absolute;
    left: 50%;
    width: 70%;
  -ms-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
      margin-top: 55vh;
    height: 30%;
}

}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}




.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 35%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@media (max-width: 1100px) {
  .circles li:nth-child(1){
    left: 30%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 18px;
    height: 18px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


 

.wrapper {
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .card {
    width: 420px;
    height: 340px;
    margin: 1em;
    perspective: 1500px;
  }
  .card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
  
  .more {
    display: none;
  }
  .more:checked ~ .content {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
  }
  .front .inner,
  .back .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
  }
  
  .front {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
  }
  .front:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
    background: linear-gradient(to right, #D17894, #C460B5, #9F29FB, #560DE5);
  }
  .front .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }
  .front .cardTitle {
    grid-row: 2;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
  .front .rating {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
  }
  .front .rating i {
    margin: 0 1px;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 2px solid #f0f0f0;
  }
  .back .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(0, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
  }
  .back .inner .variant {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
  }
  .back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: #CA6CA6;
    grid-row: 3;
  }
  .back .info:not(:first-of-type):before {
    content: "";
    position: absolute;
    left: -0.9em;
    height: 18px;
    width: 1px;
    background-color: #ccc;
  }
  .back .info span {
    font-size: 2em;
    font-weight: 700;
  }
  .back .info i {
    font-size: 1.2em;
  }
  .back .info i:before {
    background: linear-gradient(to right, #CA6CA6, #AA32F7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .back .info .icon {
    margin-left: 0.3em;
  }
  .back .info .icon span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
  }
  .back .description {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    background: white;
    color: transparent;
    padding-right: 10px;
  }
  .back .location,
  .back .price {
    font-weight: 600;
    color: #CA6CA6;
    grid-row: 1;
    font-size: 0.86em;
  }
  .back .location {
    grid-column: 1/3;
    justify-self: left;
  }
  
  .back .price {
    grid-column: 3/-1;
    justify-self: right;
  }
  .back .button2 {
    grid-column: 1/-1;
    justify-self: center;
  }
  
  .button2 {
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .button2:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: #CA6CA6;
  }
  .button2.return {
    line-height: 3em;
    color: #CA6CA6;
    border-color: #CA6CA6;
    text-shadow: none;
  }
  .button2.return:hover {
    background-color: #CA6CA6;
    color: #fff;
    box-shadow: none;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #CA6CA6;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #CA6CA6;
  }

  .text {
      color : black;
      width: 100%;
      text-align: left;
      font-weight: 500;
  }

  .jobTitle {
    color : black;
    text-align: left;
    width: 95%;
    font-weight: 500;
    font-size: 17px;
  }

  .degree {
    color : black;
    text-align: left;
    width: 95%;
    font-weight: 500;
    font-size: 17px;
  }

  @media (max-width: 1100px) {
    .jobTitle {
    font-size: 20px;
    }

    .back .location,
  .back .price {
        font-size: 0.60em;
    }

    .front .cardTitle {

        font-size: 30px;
    }

  }