h1 {
    font-size: 4vw;
    text-align: left;
    padding-left : 10vw;
    padding-top: 20vh;
    color : white;
}

h1 span {
    color : #FD4470;
}

h2 {
    color : white;
    font-size: 1.7vw;
    text-align: left;
    padding-left : 10vw;
}

h2 span {
    color : #FD4470;
<<<<<<< HEAD
}

@media (max-width: 799px) {
h1 {
    font-size: 9vw;
    padding-left : 0vw;

    text-align: center;
}

h2 {
    padding-left : 0vw;
    font-size: 4vw;
    text-align: center;
}
}


.button {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: absolute;
    background-color: #FD4470;
    left : 10vw;
    top: 50vh;
    border: none;
    color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #FD4470;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #FD4470;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }
  
=======
}
>>>>>>> 21bf4d906a4bf69d2aaea3733c8a01099a688e6f
